<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Votação</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-info is-fullheight" style="display: block;">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('votacao.index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('votacao.eleicoes') }}" class="navbar-item">
                                Eleição
                            </a>
                            <a href="{{ url_for('votacao.candidatos') }}" class="navbar-item">
                                Candidatos
                            </a>
                            <a href="{{ url_for('votacao.votar') }}" class="navbar-item">
                                Votar
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">

            <div class="container has-text-centered">
                {% include '_messages.html'%}

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>