{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Candidatos
</h1>

<div class="buttons">
  <a href="{{ url_for('votacao.candidato_novo') }}" class="button is-light" >Novo</a>
  </div>


{% if candidatos %}

<table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
    {% for candidato in candidatos %}
    <tr>
        <th>{{ candidato.id }}</th>
        <td>{{ candidato.nome }}</td>
        <td>
            <form action="{{ url_for('votacao.candidato_deletar') }}" method="post" >
              <input name="id" type="hidden" value="{{ candidato.id }}">
              <button class="button is-danger" type="submit">Deletar</button>
          </form>
          </td>    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}