{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Candidatos eleição
</h1>

{% if candidaturas %}

<div class="buttons">
  <a href="{{ url_for('votacao.eleicao_candidato_novo', id_eleicao=id_eleicao) }}" class="button is-light" >Novo</a>
  </div>
  

<table class="table is-fullwidth ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Candidato</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
    {% for candidatura in candidaturas %}
    <tr>
        <th>{{ candidatura.id }}</th>
        <td>{{ candidatura.nome }}</td>
        <td class="buttons">
          <form action="{{ url_for('votacao.candidato_eleicao_deletar', id_eleicao=id_eleicao) }}" method="post" >
            <input name="id" type="hidden" value="{{ candidatura.id }}">
            <button class="button is-danger" type="submit">Deletar</button>
          </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}