{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Eleições
</h1>

<div class="buttons">
<a href="{{ url_for('votacao.eleicao_novo') }}" class="button is-light" >Novo</a>
</div>

{% if eleicoes %}

<table class="table is-fullwidth ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Data hora</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for eleicao in eleicoes %}
    <tr>
        <th>{{ eleicao.id }}</th>
        <td>{{ eleicao.descricao }}</td>
        <td>{{ eleicao.datahora.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td>{% if eleicao.status %} Ativo {% else %} Inativo {% endif %}</td>
        <td class="buttons">
          <a href="{{ url_for('votacao.eleicao_candidatos', id_eleicao=eleicao.id)}}" class="button is-link">Candidatos</a>
          <form action="{{ url_for('votacao.eleicao_deletar') }}" method="post" >
            <input name="id" type="hidden" value="{{ eleicao.id }}">
            <button class="button is-danger" type="submit">Deletar</button>
          </form>
          <form action="{{ url_for('votacao.change_status_eleicao') }}" method="post" >
            <input name="id_eleicao" type="hidden" value="{{ eleicao.id }}">
            <button class="button is-info" style="margin-left: 0.5rem;" type="submit">Alterar status</button>
          </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}