{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Candidato</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('votacao.candidato_novo') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nome" placeholder="Nome" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}