{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Eleição</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('votacao.eleicao_novo') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="descricao" placeholder="Descrição" autofocus="">
                </div>
                <label class="checkbox">
                    <input type="checkbox" name="status" value="1" >
                    Ativo
                  </label>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}