{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Candidato</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('votacao.eleicao_candidato_novo', id_eleicao=id_eleicao) }}">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="candidato">
                           <option selected disabled > --- </option>
                          {% for candidato in candidatos %}
                            <option value="{{ candidato.id }}">{{  candidato.nome }}</option>
                          {% endfor %}
                        </select>
                      </div>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}