{% extends "base.html" %}

{% block content %}


<h1 class="title">
    Votação
</h1>

{% if resultado_eleicao%}
<div class="content">
    {% for candidato in resultado_eleicao.candidatos_eleicao %}
    <h2 class="subtitle">{{ candidato.nome }}</h2>   
    <progress class="progress is-success" value="{{ candidato.percentual }}" max="100">{{ candidato.total_votos }}%</progress>
    {% endfor %}
    <h2 class="title">Total de votos</h2>   
    <h2 class="subtitle">{{ resultado_eleicao.total_votos_eleicao }}</h2>
</div>
{% else %}
<h2 class="subtitle">Sem eleição ativa</h2>
{% endif %}






{% endblock %}