{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Escolha uma candidato
</h1>

<div class="card">
    <div class="card-footer">
    {% for eleicao_candidato in eleicao_candidatos %}
    <form class="card-footer-item"action="{{url_for('votacao.votar')}}" method="POST">
        <a href="#" onclick="parentNode.submit()">{{ eleicao_candidato.nome }}</a>
        <input type="hidden" name="candidato_eleicao_id" value="{{ eleicao_candidato.id }}">
    </form>
    {% endfor %}
    </div>
</div>

{% endblock %}